.s-social {
  margin-bottom: 2rem;

  @media (min-width: $screen-sm) {
    margin-bottom: 3rem;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin: 0;
    padding: 0;
    margin-bottom: 0.5rem;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  &__link {
    position: relative;
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.025em;
    border-radius: 4px;
    transition: all 0.3s cubic-bezier(0.4,0,0,1);

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
    }

    > svg {
      fill: currentColor;
      display: block;
      vertical-align: middle;
      margin-right: 10px;
    }

    &--facebook {
      background-color: #3a589a;
    }

    &--twitter {
      background-color: #00abef;
    }

    &--google {
      background-color: #ea4334;
    }

    &--vkontakte {
      background-color: #4c75a2;
    }

    &--odnoklassniki {
      background-color: #f4731d;
    }
  }
}