mixin social()

  .s-social
    ul.s-social__list
      li.s-social__item
        a.s-social__link.s-social__link--facebook(href='', target='_blank' rel='noopener')
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 9 20', width='9px', height='20px')
            path(d='M9 0v4H6.4285714c-.1760881-.02172022-.3520564.04150126-.4774472.17153619-.1253908.13003493-.1863544.31252051-.1654099.49513048L5.785 6.666 9 6.6666667l-.6428571 4L5.785 10.666 5.7857143 20H1.9285714L1.928 10.666 0 10.6666667v-4L1.928 6.666l.0006834-2.79560365c.0064859-.77898629.1758873-3.73187688 3.845971-3.86569681L6.0364286 0H9z')
          | Facebook

      li.s-social__item
        a.s-social__link.s-social__link--twitter(href='', target='_blank' rel='noopener')
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 25 20', width='25px', height='20px')
            path(d='M25 2.49986005c-.9420294.36555666-1.9336633.58745272-2.9416667.65825116.9177893-.54870814 1.6516669-1.35790299 2.1083334-2.3247098-.9916667.57492823-1.95.53326676-3.1166667.75823868C20.0721846.5729228 18.7204814-.00200612 17.3083333 0c-1.3504074-.01092254-2.6499088.51484092-3.6126054 1.46179114-.9626966.94695023-1.5097223 2.23751098-1.5207279 3.58775066.0003652.3876144.0479376.7737419.1416667 1.1498564C8.1735493 5.9741879 4.31280503 4.02895399 1.66666667.83340141c-.43563297.80768877-.65117442 1.71572337-.625 2.63300465.00100795 1.69813444.86404745 3.27965304 2.29166666 4.19947574-.81389923-.0261483-1.61028067-.2430567-2.325-.6332543v.0666584c.01529744 2.4177423 1.73450231 4.488899 4.10833334 4.9493821-.44021632.1180892-.89422033.1769342-1.35.1749782A5.28397293 5.28397293 0 012.8 12.131991c.62951128 2.1008979 2.5097751 3.5809209 4.7 3.6995382C5.30833333 18.3312171.4 17.5396493 0 17.4979878c2.33426707 1.5577502 5.06126022 2.4242712 7.8666667 2.499688 3.8556035.0692919 7.5773795-1.4132318 10.3291006-4.1144705 2.7517212-2.7012387 4.30262-6.3946584 4.3042327-10.250403v-.64991888c.9746709-.67208858 1.8213231-1.51299145 2.5-2.48302337z')
          | Twitter

      li.s-social__item
        a.s-social__link.s-social__link--google(href='', target='_blank' rel='noopener')
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 28 18', width='28px', height='18px')
            path(d='M17.9126232 7.8982312h-4.0607057c.0691282.3248959.1036546.6559912.10302.9879245.0009821 2.2857855-1.5952742 4.2726033-3.8565445 4.8001388-2.26127032.5275354-4.59471902-.5425152-5.63759658-2.5852352C3.41791885 9.0583394 3.93902289 6.5784884 5.7197803 5.109756c1.78075742-1.46873243 4.3543083-1.54128987 6.2176819-.1752983l2.8588055-2.79489751C12.1354942-.12046753 8.37548891-.63807886 5.18609391.81660068 1.9966989 2.27128021-.03068741 5.4285145.0043101 8.8861557c-.10127973 3.222091 1.5886038 6.2429871 4.41000197 7.8834769 2.82139818 1.6404899 6.32700603 1.6404899 9.14840423 0 2.8213981-1.6404898 4.5112817-4.6613859 4.4100019-7.8834769-.0023918-.3301172-.0224512-.6598817-.060095-.9879245zm-.9443501 1.975849l1.0044451-.9879245v-1.975849H8.94129667v3.951698H16.504683c.24038-.4981841.4635901-.9879245.4635901-.9879245zm3.0047505-1.975849H28v1.975849h-8.0269764v-1.975849zm3.0133355 4.9396225V4.9429015h2.0088904v7.8949522h-2.0088904z')
          | Google+

      li.s-social__item
        a.s-social__link.s-social__link--vkontakte(href='', target='_blank' rel='noopener')
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 28 17', width='28px', height='17px')
            path(d='M27.7490139 14.9592498c-.0770377-.1306798-.5392645-1.1914924-2.7810644-3.3746141-2.2417998-2.1831217-2.0337978-1.914075.770378-5.8729048 1.7179428-2.4060461 2.411283-3.8435241 2.1955772-4.50461024C27.818348.8304553 26.4624828.93038692 26.4624828.93038692h-4.1523372c-.3594429-.01442946-.7027311.14964558-.9167498.43816175-.4776343.8148271-.6702288 1.86026563-1.5407559 3.44379753-1.8797222 3.351553-2.6269888 3.5206681-2.93514 3.3131178-.770378-.4381617-.593191-1.9755714-.593191-2.9825747 0-3.23624726.4699305-4.61222888-.909046-4.94277195-.645577-.13778182-1.3043034-.20480021-1.9644638-.19986325-1.5407559.03843524-2.7810644 0-3.5052197.37666536-.4776343.24598554-.8474157.76870481-.6163024.82251415.4843106.04957121.9297293.28698 1.2403085.66108614.2896373.62037879.4319939 1.29905015.4160041 1.98325845 0 0 .246521 3.8435241-.5777834 4.2893729-.5700797.322856-1.3481614-.3382302-3.01988161-3.3746142-.85511953-1.5374096-.94756488-2.56747408-1.54075591-3.26699546-.26382307-.29364255-.61467235-.49561599-1.00149134-.57652861H.88593465S.20029827.86889054.06163024 1.05337969c-.13866804.18448916 0 .76870482 0 .76870482S3.19706851 9.5091327 6.74851089 13.398779c1.73550643 2.0462684 4.24932851 3.275366 6.93340161 3.3899883 0 0 2.1493545.0999316 2.4420981-.4227877.1494021-.2287804.2296353-.4956435.2311134-.7687048 0 0 0-2.3599238 1.0091951-2.7058409 1.0091951-.3459172 2.3496528 2.3061144 3.7517407 3.2900566.5067407.4522261 1.1799094.6724121 1.8566108.6072768h3.7440369s1.9644638-.2152374 1.0323064-1.8295175z')
          | Vkontakte

      li.s-social__item
        a.s-social__link.s-social__link--odnoklassniki(href='', target='_blank' rel='noopener')
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 12 20', width='12px', height='20px')
            path(d='M6.08689 0C3.1388941 0 .74913306 2.32042068.74913306 5.1827129c0 2.8623664 2.38976104 5.1829354 5.33775694 5.1829354 2.9479958 0 5.3377569-2.320569 5.3377569-5.1829354C11.4246469 2.32042068 9.0348858 0 6.08689 0zm5.5939582 11.0505158c.5014794.6072136.4010308 1.4941148-.2242716 1.9810279-.0650449.0506241-1.2478.9581929-3.2329271 1.4046807l-.2522971.0533142 3.2255855 3.1040058c.5672484.5498817.5679358 1.442123.0016041 1.9928947-.530936.516279-1.3716414.5493286-1.9421798.0982324l-.1103336-.0966749-3.1315533-2.9609357-2.8442626 2.9418746C2.8854427 19.8557432 2.5055712 20 2.1253177 20c-.3626846 0-.7256746-.1310549-1.0073128-.3947222-.54096176-.5064749-.58947484-1.3221956-.13496516-1.8838266l.09761206-.1087714 3.0616594-3.1067501c-2.1968081-.412745-3.53021607-1.4209109-3.5988878-1.474386-.62530236-.4869131-.725751-1.3738143-.22427165-1.9810279.50140297-.6071394 1.41475995-.7046703 2.04021505-.2178314.013215.0103835 1.4078852 1.0276721 3.6550321 1.0291554 2.2472233-.0014833 3.6130193-1.0187719 3.6262343-1.0291554.6254551-.4868389 1.5388121-.389308 2.040215.2178314zM6.08689 3.04036965c1.2185986 0 2.2065091.95921501 2.2065091 2.14241745 0 1.1832024-.9879105 2.1424916-2.2065091 2.1424916-1.2185987 0-2.2065092-.9592892-2.2065092-2.1424916 0-1.18320244.9879105-2.14241745 2.2065092-2.14241745z')
          | Odnoklassniki