.s-promo {
  position: relative;
  padding: 1rem;

  &__cover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #808080;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#fff, .5);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 100%;
    }
  }

  &__inner {
    position: relative;
    z-index: 2;
    max-width: 1240px;
    margin: auto;
    padding-top: 6rem;

    @media (min-width: $screen-sm) {
      min-height: 460px;
      padding-top: 240px;
    }
  }

  &__directions {

    .s-direction {
      margin-bottom: 1rem;
    }
  }
}