.s-recommendations {
  margin-bottom: 2rem;

  &__title {
    font-size: 30px;
    line-height: 36px;
    font-family: $font-family--condensed;
    font-weight: 700;
    color: #76614f;
    margin-bottom: 2rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 3rem;
    }
  }

  &__list {

    @media (min-width: $screen-xs) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }


    .s-item {
      max-width: 150px;
    }

    .s-item__cover {
      height: 150px;
    }
  }
}