.s-briefly {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  color: #76614f;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__cover {
    width: 85px;
    height: 85px;
    flex-shrink: 0;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding-left: 1rem;
    font-size: 1rem;
    line-height: 1rem;
  }

  &__title {
    color: currentColor;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;

    &:hover,
    &:focus {
      color: #414141;
      transition: color 0.3s cubic-bezier(0.4,0,0,1);
      text-decoration: none;
    }
  }

  &__views {
    font-weight: 300;
  }
}