mixin briefly(title)

  .s-briefly
    .s-briefly__cover
      img(src='/img/briefly.png', alt='/')
    .s-briefly__info
      a.s-briefly__title(href='/') #{title}
      span.s-briefly__views Просмотры: 5312