.s-direction {
  display: block;
  color: #fff;
  border-radius: 10px;
  width: 100%;

  &:hover,
  &:focus {

    .s-direction__cover {

      svg {
        transform: scale(1.1);
      }
    }

    .s-direction__caption {
      background-color: #414141;
    }
  }

  &__figure {
    margin: 0;
  }

  &__cover {
    background-color: rgba(#fff, 0.6);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 150px;

    svg {
      fill: #414141;
      transition: transform 0.3s cubic-bezier(0.4,0,0,1);
    }
  }

  &__caption {
    background-color: #76614f;
    color: #fff;
    font-family: $font-family--condensed;
    font-size: 12px;
    line-height: 15px;
    padding: 7px;
    text-transform: uppercase;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    transition: background-color 0.3s cubic-bezier(0.4,0,0,1);
  }
}