.s-inner-layout {
  padding: 5rem 1rem 1rem 1rem;
  color: #76614f;

  @media (min-width: $screen-md) {
    padding: 3rem 1rem 1rem 1rem;
  }

  &__inner {
    max-width: 1240px;
    margin: auto;
  }

  &__header {
    margin-bottom: 2rem;

    @media (min-width: $screen-md) {
      margin-bottom: 1rem;
    }
  }

  &__title {
    font-family: $font-family--condensed;
    color: currentColor;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 1rem;

    &--bigger {
      font-size: 30px;
      line-height: 36px;
      text-transform: none;
    }
  }

  &__subtitle {
    color: currentColor;
    font-size: 1rem;
    line-height: 26px;
    border-bottom: 1px solid #eee7db;
    font-weight: 400;
    font-family: $font-family--condensed;
    margin-bottom: 1rem;
  }

  &__search-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    input {
      background-color: #ebe4d7;
      border: 0;
      width: 100%;
      height: 40px;
      padding: 10px 15px;
      font-size: 1rem;
      line-height: 20px;
      color: #414141;

      &::placeholder {
        color: #76614f;
      }
    }

    button {
      background-color: #ebe4d7;
      padding: 10px;
      vertical-align: middle;

      svg {
        fill: #76614f;
        vertical-align: middle;
        display: block;
      }
    }
  }

  &__side {
    border: 1px solid #f6f2ea;
    height: 100%;
  }

  &__data {
    border-top: 1px solid #eee7db;
    border-bottom: 1px solid #eee7db;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: $font-family--condensed;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media (min-width: $screen-xs) {
      flex-direction: row;

      span + span {
        margin-left: 2rem;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          top: 0;
          left: -1rem;
          height: 100%;
          width: 1px;
          background-color: #eee7db;
        }
      }
    }

    @media (min-width: $screen-sm) {

      span + span {
        margin-left: 4rem;

        &::before {
          left: -2rem;
        }
      }
    }
  }

  &__data-category {
    padding: 0.5rem 0;
    display: inline-block;
    border-bottom: 1px solid #eee7db;
    font-weight: 700;

    @media (min-width: $screen-xs) {
      border-bottom: 0;
    }
  }

  &__data-views {
    color: #898989;
    padding: 0.5rem 0;
    display: inline-block;
  }

  &__text {
    margin-bottom: 2rem;

    > img {
      margin: 0 0 1rem 0;

      @media (min-width: $screen-sm) {
        float: left;
        margin: 0 2rem 2rem 0;
      }
    }
  }
}