.s-page-header {
  background-color: #414141;
  color: #fff;
  position: relative;
  padding: 0 1rem;
  z-index: 100;

  @media (max-width: ($screen-md - 1)) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 60px;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1240px;
    margin: auto;
  }

  &__search-btn {
    padding: 10px;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 2rem;
    order: 2;
    margin-left: auto;

    @media (min-width: $screen-md) {

    }

    svg {
      fill: #fff;
      vertical-align: middle;
      display: block;
    }
  }

  &__search-form {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: darken(#414141, 10%);
    opacity: 0;
    height: 0;
    visibility: hidden;
    padding: 15px 1rem;

    label {
      display: block;
      max-width: 1240px;
      margin: auto;
    }

    input {
      height: 60px;
      width: 100%;
      background-color: #fff;
      border: 0;
      color: #414141;
      padding: 1rem;

      &::placeholder {
        color: rgba(#414141, 0.5);
      }
    }

    &--is-open {
      height: auto;
      opacity: 1;
      visibility: visible;
    }
  }

  .s-logo {
    order: 1;

    @media (max-width: ($screen-xs - 1)) {
      max-width: 130px;
    }
  }

  .s-main-nav {

    @media (max-width: ($screen-md - 1)) {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      opacity: 0;
      height: 0;
      visibility: hidden;
      background-color: #414141;
      color: #fff;

      .s-main-nav__list {
        flex-direction: column;

        li {
          margin: 0 1rem;
        }
      }

      &--is-open {
        height: calc(100vh - 60px);
        padding-bottom: 3rem;
        opacity: 1;
        visibility: visible;
        overflow-y: scroll;
      }
    }

    @media (min-width: $screen-sm) {
      margin-left: auto;
    }

    @media (min-width: $screen-md) and (max-width: ($screen-lg - 1)) {
      width: 100%;
      order: 3;

      .s-main-nav__list {
        justify-content: space-between;
      }
    }

    @media (min-width: $screen-lg) {
      order: 2;
    }
  }

  .s-hamburger {
    display: none;

    @media (max-width: ($screen-md - 1)) {
      display: block;
      height: 60px;
      width: 60px;
      margin-left: 1rem;
      order: 3;
    }
  }
}