mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header()
      div header content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods, role='banner')&attributes(attributes)
    .s-page-header__inner
      +logo('/index.html')
        img(src='img/logo--c-white.svg', alt='Логотип Познай себя', width='183', height='46')
      nav#main-nav.s-main-nav
        ul.s-main-nav__list
          li#menu-item-15
            a(href='/') Эзотерика
            ul
              li: a(href='/') Lorem ipsum.
              li: a(href='/') Lorem ipsum dolor.
              li: a(href='/') Lorem ipsum.
              li: a(href='/') Lorem ipsum dolor sit amet.
              li: a(href='/') Lorem ipsum dolor sit.
              li: a(href='/') Lorem ipsum.
          li#menu-item-20
            a(href='/') Фен-Шуй
            ul
              li: a(href='/') Lorem ipsum.
              li: a(href='/') Lorem ipsum dolor.
              li: a(href='/') Lorem ipsum.
              li: a(href='/') Lorem ipsum dolor sit amet.
              li: a(href='/') Lorem ipsum dolor sit.
              li: a(href='/') Lorem ipsum.
              li: a(href='/') Lorem ipsum.
              li: a(href='/') Lorem ipsum dolor.
              li: a(href='/') Lorem ipsum.
              li: a(href='/') Lorem ipsum dolor sit amet.
              li: a(href='/') Lorem ipsum dolor sit.
              li: a(href='/') Lorem ipsum.
              li: a(href='/') Lorem ipsum.
              li: a(href='/') Lorem ipsum dolor.
              li: a(href='/') Lorem ipsum.
              li: a(href='/') Lorem ipsum dolor sit amet.
              li: a(href='/') Lorem ipsum dolor sit.
              li: a(href='/') Lorem ipsum.
          li#menu-item-30
            a(href='/') Нетрадиционная медицина
            ul
              li: a(href='/') Lorem ipsum.
              li: a(href='/') Lorem ipsum dolor.
              li: a(href='/') Lorem ipsum.
              li: a(href='/') Lorem ipsum dolor sit amet.
              li: a(href='/') Lorem ipsum dolor sit.
              li: a(href='/') Lorem ipsum.
              li: a(href='/') Lorem ipsum.
              li: a(href='/') Lorem ipsum dolor.
              li: a(href='/') Lorem ipsum.
              li: a(href='/') Lorem ipsum dolor sit amet.
              li: a(href='/') Lorem ipsum dolor sit.
              li: a(href='/') Lorem ipsum.
          li#menu-item-443
            a(href='/') Релаксация
            ul
              li: a(href='/') Lorem ipsum.
              li: a(href='/') Lorem ipsum dolor.
              li: a(href='/') Lorem ipsum.
              li: a(href='/') Lorem ipsum dolor sit amet.
              li: a(href='/') Lorem ipsum dolor sit.
              li: a(href='/') Lorem ipsum.
          li#menu-item-1526
            a(href='/') Позитивное мышление
          li#menu-item-5222
            a(href='/') Камни и талисманы
      +hamburger('Show main navigation', 'main-nav', 's-main-nav--is-open')
      button.s-page-header__search-btn
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 451 451', width='20px', height='20px')
          path(d='M447.05 428l-109.6-109.6c29.4-33.8 47.2-77.9 47.2-126.1C384.65 86.2 298.35 0 192.35 0 86.25 0 .05 86.3.05 192.3s86.3 192.3 192.3 192.3c48.2 0 92.3-17.8 126.1-47.2L428.05 447c2.6 2.6 6.1 4 9.5 4s6.9-1.3 9.5-4c5.2-5.2 5.2-13.8 0-19zM26.95 192.3c0-91.2 74.2-165.3 165.3-165.3 91.2 0 165.3 74.2 165.3 165.3s-74.1 165.4-165.3 165.4c-91.1 0-165.3-74.2-165.3-165.4z')
      form.s-page-header__search-form
        label
          input(type='search', placeholder='Найти')