.s-categories {
  padding: 1rem;
  background-color: #ebe4d6;

  @media (min-width: $screen-sm) {
    padding: 3rem 1rem;
  }

  &__inner {
    align-items: center;
    max-width: 1240px;
    margin: auto;
  }
}