.s-btn {
  position: relative;
  display: inline-block;
  background-color: #c2b0a1;
  background-image: none;
  color: #fff;
  margin: 0;
  padding: .6em 1.2em;
  border: 1px solid #c2b0a1;
  border-radius: 10em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.4,0,0,1);

  &:hover,
  &:focus {
    text-decoration: none;
    color: #fff;
    background-color: lighten( #76614f, 10% );
    border-color: lighten( #76614f, 10% );
  }

  &:active,
  &:focus {}

  &:visited {}

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.s-btn--disabled {
      pointer-events: none;
    }
  }
}