mixin category(title, mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +category()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-category--' + modsList[i].trim();
      }
    }

  section.s-category(class=allMods)&attributes(attributes)
    h2.s-category__title #{title}
    if block
      block