.s-category {
  border-radius: 10px;
  background-color: #fff;
  color: #76614f;
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    width: 50%;
    height: 50%;
    top: 2%;
    right: 2%;
    opacity: 0.15;
  }

  @media (min-width: $screen-sm) {
    padding: 30px 45px 45px 45px;
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: currentColor;
    font-family: $font-family--condensed;
    font-weight: 700;
    margin-bottom: 1rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 30px;
    }
  }

  &--esoteric {

    &::before {
      top: -2%;
      right: -2%;
      width: 60%;
      height: 60%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 81.08 83.29' fill='%2376614f'%3E%3Cg%3E%3Cpath d='M81.08 40.54A40.54 40.54 0 1 0 20.86 76c-6.85.76-11.21 1.9-11.21 3.19 0 2.28 13.83 4.13 30.89 4.13s30.9-1.85 30.9-4.13c0-1.29-4.37-2.43-11.21-3.19a40.55 40.55 0 0 0 20.85-35.46zM40.54 76.08a35.32 35.32 0 0 1-8-.92 35.68 35.68 0 0 1-21.42-14.69H70a35.56 35.56 0 0 1-29.46 15.61zM5 40.54A35.58 35.58 0 0 1 38.76 5.05L8.92 56.73A35.29 35.29 0 0 1 5 40.54zm71.08 0a35.28 35.28 0 0 1-3.91 16.19L42.33 5.05a35.57 35.57 0 0 1 33.75 35.49zM51.37 42a10.83 10.83 0 1 1-10.83-10.79A10.84 10.84 0 0 1 51.37 42zM40.54 26.21a15.76 15.76 0 0 0-10.6 4.1L40.54 12l10.6 18.36a15.76 15.76 0 0 0-10.6-4.15zm-8.33 29.26H15.42l9.63-16.69a15.78 15.78 0 0 0 7.16 16.69zM56.37 42a15.88 15.88 0 0 0-.37-3.22l9.64 16.69H48.88A15.83 15.83 0 0 0 56.37 42z' /%3E%3C/g%3E%3C/svg%3E%0A");
    }
  }

  &--feng-shui {

    &::before {
      right: -25%;
      width: 75%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128.71 94.23' fill='%2376614f'%3E%3Cg%3E%3Cpath d='M42.65 33.73c9.27-1.73 24.41-4.89 19.76-14s-36-1.08-42.08 7.76c-6.5 9.51 13.05 7.97 22.32 6.24z'/%3E%3Cpath d='M40.25 56.26c12.63-.63 33.3-2.08 28.39-14.5s-48-7.46-57.33 2.74C1.29 55.51 27.63 56.89 40.25 56.26zm-10-16c7.79-.35 14.15.51 14.21 1.92s-6.19 2.84-14 3.19-14.15-.51-14.21-1.92 6.25-2.84 14.03-3.19zM43.54 15.17c7.65.78 20.26 1.75 19.72-7.45s-27.19-9.88-34.7-3.61c-8.11 6.77 7.33 10.29 14.98 11.06zm3.67-13.26c3.59.35 6.45 1.14 6.39 1.76s-3 .84-6.61.49S40.54 3 40.6 2.4s3.02-.84 6.61-.49z'/%3E%3Cpath d='M93.37 74.39c11.58-6.14 18-17.22 18.33-17.76l2.91-5.08-5.68 1.45C94.6 56.53 85.24 59.8 75.7 64.12c-13.42-7.88-56.71-11-63.46-.6C6.34 72.6 21 75.12 34.52 76c-2.74.29-5.55.61-8.41 1a84.56 84.56 0 0 1-19.74-7.88L4 73.5a87.85 87.85 0 0 0 10.62 5q-7.1.95-14.62 2.12l.38 2.47.39 2.47C9.63 84.19 18 83 25.82 82.06a97.75 97.75 0 0 0 15.73 2.57l.28.13c.82.37 20.1 9.07 33.93 9.44h2.12c19.17 0 43.13-6.56 44.18-6.85l6.65-1.84-6.28-2.85a102.6 102.6 0 0 0-29.06-8.27zM75.9 89.2c-6.24-.2-13.9-2.28-20.21-4.41-2-.7-3.94-1.4-5.59-2a109.37 109.37 0 0 1 17-3.39 101 101 0 0 1 46.21 5c-9.08 2.07-24.85 5.14-37.41 4.8zm3.76-21.36a165.9 165.9 0 0 1 23.78-8.28C99.89 63.82 94 69.44 86.35 72a33.65 33.65 0 0 1-7.41 1.51c-1.12 0-2.22 0-3.3.08l-1.57.07a48.85 48.85 0 0 1-5.61-.49c3.91-1.98 7.54-3.72 11.2-5.33z'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
  }

  &--alternative-medicine {

    &::before {
      top: 5%;
      right: -8%;
      width: 60%;
      height: 60%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 92.69 82.52' fill='%2376614f'%3E%3Cg%3E%3Cpath d='M77 8L53.08 32H51q1-8.71-4.72-19.26L45 10.32l-2.3 1.49a48.66 48.66 0 0 0-6.7 5.24C30.42 8.94 20.94 3.42 7.6.57L5 0l-.4 2.69C3 14.78 4.25 24.59 8.24 32H0v4a44.82 44.82 0 0 0 23.8 39.57c-5.28.74-8.55 1.75-8.55 2.87 0 2.25 13.22 4.08 29.53 4.08s29.52-1.83 29.52-4.08c0-1.12-3.27-2.13-8.55-2.87A44.8 44.8 0 0 0 89.55 36v-4H79.11L90 21.06A9.2 9.2 0 1 0 77 8zm9.48 9.48L72 32H60.15l20.37-20.42a4.2 4.2 0 1 1 6 5.94zM44.78 75.8A39.77 39.77 0 0 1 5 37h79.54a39.75 39.75 0 0 1-39.76 38.8zM9.25 6.08C20.35 8.9 28.08 13.83 32.52 21a21.68 21.68 0 0 0-4.15 8.94l-12.94-16 10 18H14.12C9.81 25.9 8.17 17.22 9.25 6.08zm33.91 11.5C45.69 22.9 46.6 27.65 45.91 32h-4.73l.22-1.39 1.27-7.94-1.83 5.29-1.39 4h-6.33c0-.25 0-.51.08-.77a15.4 15.4 0 0 1 1.85-5 19.78 19.78 0 0 1 1.73-2.55 26.11 26.11 0 0 1 1.81-2.08 38.37 38.37 0 0 1 4.57-3.98z' /%3E%3C/g%3E%3C/svg%3E%0A");
    }
  }

  &--relaxation {

    &::before {
      top: 2%;
      right: -2%;
      width: 50%;
      height: 50%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 88.91 87.68' fill='%2376614f'%3E%3Cg%3E%3Cpath d='M88.34 64.79l-1.11 1.95-.81-4c-.13-.62-.49-.65-1.06-.54a11.76 11.76 0 0 1-2.58.25c-1.82-.05-3.63-.18-5.44-.33a3.81 3.81 0 0 1-1.71-.44 24.76 24.76 0 0 1-2.62-2c-2.22-1.83-4.4-3.71-6.63-5.53a3.77 3.77 0 0 1-1.68-2.74c-.07-.93-.22-1.87-.27-2.81-.17-3-.34-5.92-.43-8.88-.08-2.49 0-5-.09-7.48a4.07 4.07 0 0 0-.72-2.24 9.51 9.51 0 0 0-5.77-3 8.88 8.88 0 0 1-1.94-.48c-1.57-.74-3.07-1.61-4.63-2.37a4.3 4.3 0 0 1-2.16-4.77c.23-1.09.6-2.14.91-3.2a3.75 3.75 0 0 1 .4-1.09 11.09 11.09 0 0 0 1.48-2 4.31 4.31 0 0 0 .35-2.8 3.3 3.3 0 0 1-.21-1.94 6.8 6.8 0 0 0-2.48-6.77 7.53 7.53 0 0 0-8-.85 6.92 6.92 0 0 0-3.83 7.36c.09.79.5 1.6-.3 2.28-.09.08-.08.33 0 .49.22 1.61.54 3.17 2 4.19a1 1 0 0 1 .28.49c.27.79.57 1.58.77 2.39.48 1.94.73 3.89-.91 5.46a7.38 7.38 0 0 1-1.83 1.24c-1.65.8-3.31 1.59-5 2.24-1.31.49-2.75.65-4 1.18a4.58 4.58 0 0 0-3 3 12.08 12.08 0 0 0-.3 2.61v10.61c0 2-.27 3.9-.41 5.85a4.85 4.85 0 0 1-2.67 4.43 2.24 2.24 0 0 0-.37.32c-2.31 2-4.59 4-6.94 6a4.7 4.7 0 0 1-3.58 1.25 38.21 38.21 0 0 0-4.13.16 25.48 25.48 0 0 1-3.27-.15c-.54-.06-.88 0-1 .54-.2 1-.39 2-.56 3a11.67 11.67 0 0 0-.07 1.18h-.18l-1.12-2a4.74 4.74 0 0 0-.35 3.76c.23.86 1 1.12 1.53.72a1.26 1.26 0 0 1 2 .33c.4.53.81.76 1.46.36.24-.14.75-.22.88-.08.61.63 1.14.48 1.76 0a6.1 6.1 0 0 1 1.27-.47c-1.55 2.2-1 4.13.18 5.88a17.49 17.49 0 0 0 6.57 5.29l2.88 1.51c-.69 1.68-.49 2.17.6 3.41.34.39.93.86 1 1.2.15 1.07.86.89 1.49.9 2.19 0 4.39.09 6.57 0 2.41-.16 4.81-.53 7.2-.83a13.59 13.59 0 0 1 1.47-.35h14.86a7.38 7.38 0 0 1 .88.2c2.25.35 4.5.84 6.77 1s4.8-.14 7.17.1c1.5.15 1.88-.94 2.63-1.62a4.48 4.48 0 0 0 .94-1.75c.17-.45.36-1.1.17-1.43-.48-.81 0-1 .54-1.26 3.16-1.49 6.23-3.13 8.38-6 1.28-1.7 2-3.55.81-5.63a1.7 1.7 0 0 1-.11-.5 4.55 4.55 0 0 1 .94.38c.63.45 1.2.7 1.84 0 .11-.12.59-.06.8.07.67.43 1.11.22 1.54-.36.56-.77 1.08-.78 2-.3.27.14 1 0 1.08-.18a10.77 10.77 0 0 0 .63-2.56 6.55 6.55 0 0 0-.24-1.68zM4.12 66.16L3.63 64l2.28.17c-.15 1.1-.91 1.49-1.79 1.99zm25.93-.38C29 67.34 28 67.12 26.5 67c-3.89-.31-7.8-.34-11.71-.48h-1.06l-.09-.35a20.1 20.1 0 0 1 2.63-1.11A41.54 41.54 0 0 0 26.62 61a9.15 9.15 0 0 0 4.74-7.26 36.46 36.46 0 0 1 .64-4.82 2.5 2.5 0 0 1 .11.39c.31 2.83.78 5.66.89 8.51s-1.29 5.49-2.95 7.96zm44.31.75c-3.94.14-7.88.26-11.83.42-.59 0-1.19.3-1.78.29a1.67 1.67 0 0 1-1.16-.5c-.66-.83-1.15-1.8-1.8-2.64a10.15 10.15 0 0 1-1.9-6.47 55.8 55.8 0 0 1 .63-6.42c.08-.72.22-1.43.34-2.14h.32c.09 1.23.18 2.45.29 3.68a10.86 10.86 0 0 0 1.17 4.43 9.28 9.28 0 0 0 3.63 3.74 56.49 56.49 0 0 0 6.12 2.82c2 .8 4.13 1.4 6.2 2.09a1.12 1.12 0 0 1 .66.6c-.25.05-.59.09-.89.1zM84.82 66a2.05 2.05 0 0 1-1.72-1.86l2.19-.14c-.17.7-.29 1.34-.47 2z' /%3E%3C/g%3E%3C/svg%3E");
    }
  }

  &--positive-thinking {

    &::before {
      top: 0;
      right: 0;
      width: 60%;
      height: 60%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 71.08 92.33' fill='%2376614f'%3E%3Cg%3E%3Cpath d='M35.72 14.06a24 24 0 0 0-17 41h.06l.05.06c3.13 2.75 3.8 6.18 4.44 9.5a27.25 27.25 0 0 0 1.05 4.23 8.18 8.18 0 0 0 6.12 5 17.66 17.66 0 0 0 5.16.76A19.5 19.5 0 0 0 41 74a8.15 8.15 0 0 0 6.15-5 27.25 27.25 0 0 0 1-4.23c.64-3.32 1.31-6.75 4.44-9.5v-.06h.06a24 24 0 0 0-17-41zm7.52 49.67a24.24 24.24 0 0 1-.84 3.47A3.21 3.21 0 0 1 40 69l-.33.08a13.4 13.4 0 0 1-7.93 0L31.4 69a3.23 3.23 0 0 1-2.4-1.8 24.24 24.24 0 0 1-.84-3.47c-.72-3.72-1.62-8.35-5.93-12.2-.26-.25-.48-.52-.71-.78a19 19 0 0 1 13.1-31.64c.36 0 .71-.05 1.06-.05s.71 0 1.06.05a19 19 0 0 1 13.1 31.64c-.23.26-.45.53-.71.78-4.27 3.85-5.13 8.47-5.89 12.2z'/%3E%3Cpath d='M41.83 74.34a19.33 19.33 0 0 1-13.37 0 2.5 2.5 0 1 0-1.66 4.71 24.29 24.29 0 0 0 16.7 0 2.5 2.5 0 0 0-1.67-4.71z'/%3E%3Cpath d='M41.83 80.1a19.33 19.33 0 0 1-13.37 0 2.5 2.5 0 1 0-1.66 4.71 24.45 24.45 0 0 0 16.7 0 2.5 2.5 0 1 0-1.67-4.71z'/%3E%3Cpath d='M37.44 86.91a6.48 6.48 0 0 1-4.59 0 2.5 2.5 0 0 0-1.68 4.71 11.51 11.51 0 0 0 8 0 2.5 2.5 0 1 0-1.69-4.71zM49.88 39.81a2.49 2.49 0 0 0-3.25 1.39c-.12.28-.24.55-.37.81a11.19 11.19 0 0 1-10.19 6 11.2 11.2 0 0 1-10.58-6.7l-.06-.12a2.5 2.5 0 1 0-4.63 1.88 15.67 15.67 0 0 0 2.32 4A16.32 16.32 0 0 0 36 53a16.33 16.33 0 0 0 12.46-5.49 15.68 15.68 0 0 0 2.73-4.46 2.5 2.5 0 0 0-1.31-3.24zM26.13 34.55a2.51 2.51 0 0 0 3.52-.37 2.65 2.65 0 0 1 .39-.41 3.34 3.34 0 0 1 .38.41 2.5 2.5 0 0 0 1.94.93 2.54 2.54 0 0 0 1.58-.56A2.51 2.51 0 0 0 34.3 31a5.78 5.78 0 0 0-3.62-2.31 4.6 4.6 0 0 0-.64 0A5.51 5.51 0 0 0 25.77 31a2.51 2.51 0 0 0 .36 3.55zM37.76 34.55a2.51 2.51 0 0 0 3.52-.37 3.34 3.34 0 0 1 .38-.41 2.65 2.65 0 0 1 .39.41 2.51 2.51 0 0 0 1.32.84 2.58 2.58 0 0 0 .62.09A2.51 2.51 0 0 0 45.93 31a5.52 5.52 0 0 0-4.27-2.36 4.32 4.32 0 0 0-.88.1A6 6 0 0 0 37.4 31a2.51 2.51 0 0 0 .36 3.55zM15.68 13.94a2.48 2.48 0 0 0 2.08 1.12 2.54 2.54 0 0 0 1.39-.42 2.5 2.5 0 0 0 .69-3.47l-2.68-4A2.5 2.5 0 0 0 13 9.91zM36 9.84a2.5 2.5 0 0 0 2.5-2.5V2.5a2.5 2.5 0 0 0-5 0v4.84a2.5 2.5 0 0 0 2.5 2.5zM7.84 27.14l-4.66-1.31a2.5 2.5 0 1 0-1.36 4.81L6.48 32a2.33 2.33 0 0 0 .68.1 2.5 2.5 0 0 0 .68-4.91zM52.47 14.66a2.49 2.49 0 0 0 3.45-.75l2.6-4a2.5 2.5 0 0 0-4.21-2.71l-2.59 4a2.51 2.51 0 0 0 .75 3.46zM67.88 25.83l-4.51 1.32a2.5 2.5 0 0 0 .7 4.9 2.82 2.82 0 0 0 .7-.1l4.51-1.32a2.5 2.5 0 1 0-1.4-4.8z'/%3E%3C/g%3E%3C/svg%3E");
    }
  }

  &--stones-and-talismans {

    &::before {
      top: 6%;
      right: -10%;
      width: 60%;
      height: 60%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 77.54 63.48' fill='%2376614f'%3E%3Cg%3E%3Cpath d='M71.51 58.35a13.38 13.38 0 0 0 2-6c1-8.83-1.67-22.83-10.82-26.3-3.24-1.23-6.75-1-10.49.77A140.29 140.29 0 0 0 26.51 3.21c-6.45-4.63-11.39-3.83-15.16-.3 6.39 1.24 21.41 5 27.71 13.77a14.91 14.91 0 0 1 2.64 11.89c-.78 4.07-3.07 6.51-5.09 8.66-1.67 1.77-3.12 3.31-3.69 5.64a8.61 8.61 0 0 0-.19 3.13l-.29.4a18.42 18.42 0 0 0-2.83 5.69 13.54 13.54 0 0 1-1.55-10.42c.89-3.61 3-5.87 4.91-7.87s3.31-3.52 3.82-6.16a10 10 0 0 0-1.79-8c-6.41-8.97-25.36-12-27.13-12.26A44.56 44.56 0 0 0 4 16.29c5 .53 14.59 2.2 18 7.34a8 8 0 0 1 .77 7.37 14.5 14.5 0 0 1-6.06 7.37c-2.4 1.68-3.29 2.31-1.65 7.56.52 1.64 4 4.4 8.66 7.38-2.95 0-5.74.12-8.28.28-2.6-2.12-4.55-4.24-5.15-6.16-2.53-8.1 0-10.66 3.55-13.15a9.68 9.68 0 0 0 4.24-5 2.94 2.94 0 0 0-.19-2.89c-2.07-3.1-9.83-4.75-15.26-5.23A115.82 115.82 0 0 0 .09 35.24c-.62 5.21 2 15.36 9.43 18.92-4.19.55-6.81 1.33-6.81 2.19 0 1.65 9.45 3 21.25 3h.73c2.28 0 4.48 0 6.55-.14 1.45 1.52 3.7 2.6 6.87 3.28a39 39 0 0 0 5.5.73c.79.06 1.63.1 2.5.13s1.83 0 2.81 0H55.22a40 40 0 0 0 9.86-.89c7.23-.33 12.46-1.27 12.46-2.38 0-.61-2.34-1.27-6.03-1.73zm-36.82-2.74a3.11 3.11 0 0 1-.2-.3 2.56 2.56 0 0 1-.12-1.68 8.59 8.59 0 0 1 .86-2.23 20.67 20.67 0 0 1 1.31-2.14C45 37.22 51.1 32.5 55.34 31a7.9 7.9 0 0 1 5.56-.22c5.67 2.15 8.57 12.83 7.62 21.06-.4 3.47-1.76 5.16-4.85 6-2.49.65-6.11.73-11.28.68h-5.53c-.65 0-1.37 0-2-.08-.88 0-1.67-.11-2.41-.19-5.3-.66-7.13-1.86-7.76-2.64z' /%3E%3C/g%3E%3C/svg%3E");
    }
  }
}