.s-popular {
  padding: 1rem;
  background-color: #fff;
  color: #76614f;

  @media (min-width: $screen-sm) {
    padding: 3rem 1rem;
  }

  &__inner {
    align-items: center;
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    font-family: $font-family--condensed;
    margin-top: 0;
    color: #76614f;
    text-align: center;
    width: 100%;
    flex-basis: auto;

    @media (min-width: 425px) {
      margin-bottom: 1rem;
    }

    @media (min-width: $screen-sm) {
      margin-bottom: 2rem;
    }
  }
}