//- !
//- Attention! This file is generated automatically.
//- Do not write anything here manually, all such edits will be lost.

include ../blocks/page/page.pug
include ../blocks/btn/btn.pug
include ../blocks/logo/logo.pug
include ../blocks/svg-icon/svg-icon.pug
include ../blocks/date/date.pug
include ../blocks/external-link/external-link.pug
include ../blocks/form/form.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/hamburger/hamburger.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/promo/promo.pug
include ../blocks/social/social.pug
include ../blocks/direction/direction.pug
include ../blocks/categories/categories.pug
include ../blocks/category/category.pug
include ../blocks/briefly/briefly.pug
include ../blocks/popular/popular.pug
include ../blocks/item/item.pug
include ../blocks/inner-layout/inner-layout.pug
include ../blocks/tabs/tabs.pug
include ../blocks/rubrics/rubrics.pug
include ../blocks/accent/accent.pug
include ../blocks/recommendations/recommendations.pug
