mixin item(title, mods, desc, descText)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +item()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-item--' + modsList[i].trim();
      }
    }

  .s-item(class=allMods)&attributes(attributes)
    .s-item__cover
      img(src='img/item-cover.png', alt='/')
    .s-item__info
      h3.s-item__title #{title}

      if desc
        p.s-item__desc #{descText}
        +btn('Привороты')(href='/')

      else
        +btn('Привороты')(href='/')
