.s-item {
  width: 100%;
  margin: 1rem;

  @media (min-width: 425px) {
    max-width: 180px;
    margin-bottom: 2rem;
  }

  &__cover {
    width: 100%;
    height: 200px;
    margin-bottom: 1rem;
    border-radius: 10px;
    overflow: hidden;

    @media (min-width: 425px) {
      margin-bottom: 2rem;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 18px;
    color: #76614f;
    font-family: $font-family;
    margin-bottom: 1rem;
    font-weight: 400;
  }

  .s-btn {
    width: 100%;
  }

  &__desc {
    color: #898989;
    font-size: 1rem;
    line-height: 18px;
    margin-bottom: 1rem;
  }

  &--full {
    margin: 0;
    margin-bottom: 2rem;

    @media (min-width: 425px) {
      max-width: 100%;
    }

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .s-item__cover {

      @media (min-width: $screen-sm) {
        width: 200px;
        height: 200px;
        flex-shrink: 0;
      }
    }

    .s-item__info {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      @media (min-width: $screen-sm) {
        padding-left: 5rem;
      }
    }

    .s-item__title {
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
    }

    .s-btn {

      @media (min-width: $screen-sm) {
        width: auto;
        align-self: flex-end;
      }
    }
  }

  &--brief {
    margin: 0;
    margin-bottom: 2rem;

    .s-item__title {
      font-weight: 700;
    }

    .s-btn {
      display: none;
    }
  }
}