.s-tabs {

  .nav-tabs {
    border-bottom: 0;
  }

  .nav-tabs .nav-link {
    border: 0;
    background-color: #ebe4d7;
    border-radius: 0;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
    color: #76614f;
    word-break: normal;
    text-align: center;
    font-family: $font-family--condensed;
  }

  .nav-tabs .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    margin: 0;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    background-color: #fff;
    color: #76614f;
  }

  .tab-content {
    padding: 1rem;
  }

  .s-briefly {
    border-bottom: 1px solid #eee7db;
    padding-bottom: 1rem;
  }
}