.s-page-footer {
  background-color: #414141;
  color: #fff;
  padding: 1rem;

  @media (min-width: $screen-md) {
    padding: 3rem 1rem;
  }

  &__inner {
    width: 100%;
    max-width: 1240px;
    margin: auto;

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__logo {
    margin-bottom: 1rem;

    .s-logo {
      display: block;
      margin-bottom: .5rem;
    }
  }

  &__slogan {
    font-family: $font-family--condensed;
    font-weight: 300;
    font-size: 1rem;
    line-height: 26px;
  }

  &__info {

    @media (min-width: $screen-md) {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
    }
  }

  &__nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 3rem;

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 1rem;
    }

    li {
      margin: 0;
      padding: 0;
      position: relative;

      &:not(:last-child) {
        margin-bottom: 0.25rem;

        @media (min-width: $screen-md) {
          margin-bottom: 0;
          margin-right: 1rem;

          &::after {
            position: absolute;
            content: '|';
            padding-left: 0.4rem;
          }
        }
      }

      a {
        color: currentColor;
        text-decoration: none;
      }
    }
  }

  &__copyright {
    font-family: $font-family--condensed;
    font-weight: 300;
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 1rem;

    span {
      display: block;
    }
  }

  &__suitability {
    width: 63px;
    height: 63px;
    background-color: #fff;
    border-radius: 20rem;
    color: #414141;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    line-height: 1em;
    font-weight: 700;
    word-break: normal;
    letter-spacing: -0.05em;

    @media (min-width: $screen-md) {
      margin-left: 2rem;
    }
  }
}