mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .s-page-footer__inner

      .s-page-footer__logo
        +logo('/index.html')
          img(src='img/logo--c-white.svg', alt='Логотип Познай себя', width='183', height='46')
        strong.s-page-footer__slogan Весь мир внутри тебя

      .s-page-footer__info
        ul.s-page-footer__nav-list
          li: a(href='/') О нас
          li: a(href='/') Редакция
          li: a(href='/') Обратная связь
          li: a(href='/') Соглашения и правила
          li: a(href='/') Правообладателям

        .s-page-footer__copyright
          span Копирование материала разрешено только с активной гиперссылкой на сайт "Познай себя"
          span © o-sebe.com 2015 - 2019

      .s-page-footer__suitability 16+
