extends pug/layout.pug

block meta
  - var title = 'Articles';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  .s-inner-layout
    .s-inner-layout__inner
      .s-inner-layout__header
        .row
          .col-12.col-lg-8.col-xl-7
            h1.s-inner-layout__title Эзотерика
          .col-12.col-lg-4.col-xl-3.offset-xl-2
            form.s-inner-layout__search-form
              input(type='search', placeholder='Найти')
              button
                svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 451 451', width='20px', height='20px')
                  path(d='M447.05 428l-109.6-109.6c29.4-33.8 47.2-77.9 47.2-126.1C384.65 86.2 298.35 0 192.35 0 86.25 0 .05 86.3.05 192.3s86.3 192.3 192.3 192.3c48.2 0 92.3-17.8 126.1-47.2L428.05 447c2.6 2.6 6.1 4 9.5 4s6.9-1.3 9.5-4c5.2-5.2 5.2-13.8 0-19zM26.95 192.3c0-91.2 74.2-165.3 165.3-165.3 91.2 0 165.3 74.2 165.3 165.3s-74.1 165.4-165.3 165.4c-91.1 0-165.3-74.2-165.3-165.4z')

      .s-inner-layout__main
        .row
          .col-12.col-lg-8.col-xl-7
            h3.s-inner-layout__subtitle Категории
            +item('Приворот на мужчину, который точно сработает — читать в домашних условиях', 'full', desc=true, 'Приворот на мужчину, который точно сработает — читать в домашних условиях. Приворот на мужчину, который точно сработает — читать в домашних условиях')
            +item('Приворот на мужчину, который точно сработает — читать в домашних условиях', 'full', desc=true, 'Приворот на мужчину, который точно сработает — читать в домашних условиях. Приворот на мужчину, который точно сработает — читать в домашних условиях')
            +item('Приворот на мужчину, который точно сработает — читать в домашних условиях', 'full', desc=true, 'Приворот на мужчину, который точно сработает — читать в домашних условиях. Приворот на мужчину, который точно сработает — читать в домашних условиях')
            +item('Приворот на мужчину, который точно сработает — читать в домашних условиях', 'full', desc=true, 'Приворот на мужчину, который точно сработает — читать в домашних условиях. Приворот на мужчину, который точно сработает — читать в домашних условиях')
          .col-12.col-lg-4.col-xl-3.offset-xl-2
            .s-inner-layout__side
              .s-tabs
                ul.nav.nav-tabs(role='tablist')
                  li.nav-item
                    a#popular-tab.nav-link.active(data-toggle='tab', href='#popular', role='tab', aria-controls='popular', aria-selected='true') Популярное
                  li.nav-item
                    a#new-tab.nav-link(data-toggle='tab', href='#new', role='tab', aria-controls='new', aria-selected='false') Свежее
                  li.nav-item
                    a#random-tab.nav-link(data-toggle='tab', href='#random', role='tab', aria-controls='random', aria-selected='false') Случайно
                #myTabContent.tab-content
                  #popular.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='popular-tab')
                    +briefly('Симоронские ритуалы на лучшую работу')
                    +briefly('Симоронские ритуалы на лучшую работу')
                    +briefly('Симоронские ритуалы на лучшую работу')
                  #new.tab-pane.fade(role='tabpanel', aria-labelledby='new-tab')
                    +briefly('Симоронские ритуалы на лучшую работу')
                    +briefly('Симоронские ритуалы на лучшую работу')
                    +briefly('Симоронские ритуалы на лучшую работу')
                  #random.tab-pane.fade(role='tabpanel', aria-labelledby='random-tab')
                    +briefly('Симоронские ритуалы на лучшую работу')
                    +briefly('Симоронские ритуалы на лучшую работу')
                    +briefly('Симоронские ритуалы на лучшую работу')
              +rubrics()

block footer
  +page-footer()