extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content

  .s-promo
    .s-promo__cover
      img(
        alt='/',
        data-sizes='auto',
        data-src='img/bg-promo-768.jpg',
        data-srcset='img/bg-promo-320.jpg 320w, img/bg-promo-768.jpg 768w, img/bg-promo-1440.jpg 1440w'
      ).lazyload
    .s-promo__inner
      .s-promo__directions
        .row
          .col-6.col-md-4.col-lg-2
            +direction('Эзотерика', 'esoteric', 82, 84)
          .col-6.col-md-4.col-lg-2
            +direction('Фен-Шуй', 'feng-shui', 129, 95)
          .col-6.col-md-4.col-lg-2
            +direction('Нетрадиционная медицина', 'alternative-medicine', 93, 83)
          .col-6.col-md-4.col-lg-2
            +direction('Релаксация', 'relaxation', 89, 88)
          .col-6.col-md-4.col-lg-2
            +direction('Позитивное мышление', 'positive-thinking', 72, 93)
          .col-6.col-md-4.col-lg-2
            +direction('Камни и талисманы','stones-and-talismans', 78, 64)

  .s-categories
    .s-categories__inner
      .row
        .col-12.col-sm-6.col-lg-4
          +category('Эзотерика', 'esoteric')
            +briefly('Симоронские ритуалы на лучшую работу')
            +briefly('Симоронские ритуалы на лучшую работу')
            +briefly('Симоронские ритуалы на лучшую работу')
        .col-12.col-sm-6.col-lg-4
          +category('Фен-Шуй', 'feng-shui')
            +briefly('Симоронские ритуалы на лучшую работу')
            +briefly('Симоронские ритуалы на лучшую работу')
            +briefly('Симоронские ритуалы на лучшую работу')
        .col-12.col-sm-6.col-lg-4
          +category('Нетрадиционная медицина', 'alternative-medicine')
            +briefly('Симоронские ритуалы на лучшую работу')
            +briefly('Симоронские ритуалы на лучшую работу')
            +briefly('Симоронские ритуалы на лучшую работу')
        .col-12.col-sm-6.col-lg-4
          +category('Релаксация', 'relaxation')
            +briefly('Симоронские ритуалы на лучшую работу')
            +briefly('Симоронские ритуалы на лучшую работу')
            +briefly('Симоронские ритуалы на лучшую работу')
        .col-12.col-sm-6.col-lg-4
          +category('Позитивное мышление', 'positive-thinking')
            +briefly('Симоронские ритуалы на лучшую работу')
            +briefly('Симоронские ритуалы на лучшую работу')
            +briefly('Симоронские ритуалы на лучшую работу')
        .col-12.col-sm-6.col-lg-4
          +category('Камни и талисманы','stones-and-talismans')
            +briefly('Симоронские ритуалы на лучшую работу')
            +briefly('Симоронские ритуалы на лучшую работу')
            +briefly('Симоронские ритуалы на лучшую работу')

  section.s-popular
    .s-popular__inner
      h2.s-popular__title Все об эзотерике и ее различные направления
      +item('Приворот на мужчину, который точно сработает — читать в домашних условиях')
      +item('Приворот на мужчину, который точно сработает — читать в домашних условиях')
      +item('Приворот на мужчину, который точно сработает — читать в домашних условиях')
      +item('Приворот на мужчину, который точно сработает — читать в домашних условиях')
      +item('Приворот на мужчину, который точно сработает — читать в домашних условиях')
      +item('Приворот на мужчину, который точно сработает — читать в домашних условиях')
      +item('Приворот на мужчину, который точно сработает — читать в домашних условиях')
      +item('Приворот на мужчину, который точно сработает — читать в домашних условиях')
      +item('Приворот на мужчину, который точно сработает — читать в домашних условиях')
      +item('Приворот на мужчину, который точно сработает — читать в домашних условиях')

block footer
  +page-footer()