a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

[role='button'] {
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  box-sizing: content-box;
  max-width: 100%;
  height: auto;
  border: 0;
}

svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none;
  }

  &:not(:root) {
    overflow: hidden;
  }
}

table,
blockquote,
pre,
address,
figure {
  margin-top: 0;
  margin-bottom: 1rem;
}

blockquote {
  position: relative;
  background-color: #e0d5c0;
  color: #76614f;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin: 1rem 0;
  padding: 6rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-size: 40px 40px;
  background-position: 50% 2rem;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 40 40' width='40px' height='40px'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%2376614f' stroke-width='3'%3E%3Ccircle cx='20' cy='20' r='18.5'%3E%3C/circle%3E%3Cpath d='M20 3.75410197L6.82705098 30.1H33.172949L20 3.75410197z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

  @media (min-width: $screen-sm) {
    flex-direction: row;
    background-position: 2rem 50%;
    padding: 2rem 2rem 2rem 6rem;
  }

  @media (max-width: ($screen-sm - 1)) {
    text-align: center;
  }
}

address {
  font-style: normal;
}

li {
  line-height: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
  background-color: transparent;
  text-decoration-skip-ink: auto;

  &:not([class]) {
    color: #212529;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
      color: lighten(#212529, 20%);
    }
  }
}

button {
  background-color: inherit;
  border: none;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid $border-color;
  box-sizing: content-box;
  overflow: visible;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea {
    -webkit-appearance: none;
}

input[type='search'] {
  -webkit-appearance: textfield;
}

button,
input {
  overflow: visible;
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

code,
kbd,
pre,
samp {
  font-family: $font-family--monospace;
}

code {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: $border-radius;
}

kbd {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: $gray-lightest;
  border-radius: $border-radius;
}

pre {
  display: block;
  width: 100%;
  overflow-x: auto;
  tab-size: 2;
}